<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="position-relative">
    <%= render "shared/navbar" %>
       
      <%= yield %>
      <div class="position-absolute top-0 end-50">
      <% if notice.present? %>
      <p class="alert alert-success" role="alert"><%= notice %></p>
      <% end %>
    
      <% if alert.present? %>
        <p class="alert alert-warning" role="alert"><%= alert %></p>
      <% end %>
      </div
      <script src="https://kit.fontawesome.com/2347fe76cf.js" crossorigin="anonymous"></script>
  </body>
</html>
